services: 
  ollama:
    image: ollama/ollama:latest

    ports: 
      - 11434:11434

  api: 
    build: ./api 
    ports: 
      - 8000:8000
    depends_on: 
      - ollama
    develop:
      watch:
      - action: sync
        path: ./api
        target: /app